.login-page.container{
    width: 80%;
    max-width: 80%;
   
}

.sidebar{
    width: 200px;
    position: fixed;
    left: 0;
    top: 50px;
    height: 100%;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}
.screens-section-container{
    margin-top: 70px;
    padding-left: 240px;
}